# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
.nuxt
.output
dist
.cache

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Public assets
public
